*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 300;
}
body{
  background: hsl(233, 47%, 7%);
  color: white;
  font-family: 'Inter', sans-serif;
  
}
li{
  list-style: none;
}
span{
  color: hsl(277, 64%, 61%);
  font-size: inherit;
}
strong{
  font-size: 1.5rem;
}
.l-heading{
  font-size: 2rem;
}
#content-container{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
#content{
  display: flex;
  background: hsl(244, 38%, 16%);
  width: 70%;
  height: 50%;
  justify-content: space-between;  
  align-self: center;  
  border-radius: 7px;
}
#content div{
  align-self: center;
  text-align: left;
  padding: 3rem;
  padding-right: 6rem;
  flex: 1;
}
#content div > ul{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
#content div > ul > li{
  display: inherit;
  flex-direction: column;
  text-align: left;
}
#content div h2{
  padding-bottom: 1rem;
  
}
#content .img-container{
  background: hsl(277, 64%, 61%);
  width: 100%;
  height: 100%;
  position: relative;
}
#content .img-container::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/image-header-desktop.jpg');
  opacity: 0.65;
 }
